.slider-container {
  position: relative;
  width: 30%;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px 50vh;
}

.slider-tabs {
  display: flex;
  background-color: #333;
}

.slider-tab {
  flex: 1;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1rem;
}

.slider-tab.active {
  background-color: #444;
  font-weight: bold;
  color: #fff;
}

.slider-content {
  display: none;
  padding: 20px; /* Внутренние отступы для текста */
  min-height: 225px;
}

.slider-content.active {
  display: block;
  overflow-y: scroll;
  scrollbar-width: none;
}

.disc {
  text-decoration: underline;
  color: #c9c9c9;
}

.normis-text {
  font-size: 16px;
  overflow: hidden;
  opacity: 1;
  transition: 0.3s;
  color: #fff;
  scrollbar-width: none;
}

.hidden-text {
  display: none;
  opacity: 1;
  transition: 0.3s;
  scrollbar-width: 300;
}

.hidden {
  display: none; /* Главы скрыты до появления */
}

.more {
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff91;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.slider-content h1 {
  text-decoration: underline;
  color: #c9c9c9;
}

.chapter {
  margin: 5px 0;
  color: #fff;
}

.chapter h1 {
  color: #fff;
}

.button-container {
  margin-top: 10px;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.button:hover {
  background: #121212;
}

.slider-content {
  max-height: 100px;
  width: 100%
}

.slider-content a {
  text-decoration: none;
  color: #c0c0c0;
  transition: 0.4s ease;
}

.slider-content a:hover {
  color: #007bff;
}

#chapter-list {
  max-height: 150px; /* Высота контейнера */
  overflow-y: auto; /* Включение вертикальной прокрутки */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Расстояние между главами */
  padding: 0; /* Убедитесь, что нет лишних отступов */
  margin: 0; /* Убедитесь, что нет лишних внешних отступов */
  box-sizing: border-box; /* Учитываем padding в размерах */
  scrollbar-width: none;
}

#reverse-list {
  max-width: 24%;
  text-align: start;
  margin-top: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  background: none;
  font-weight: 550;
  position: relative;
}

#reverse-list:hover {
  color: #1976d2;
}

#reverse-list::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

#reverse-list:hover::before {
  width: 100%;
}